---
name: Build docker image

on:
  push:
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  build-image:
    name: Build docker image
    runs-on: ubuntu-latest

    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build docker image
      uses: docker/build-push-action@v5
      with:
        cache-from: type=gha
        cache-to: type=gha,mode=max
