---
name: Docker push

on:
  workflow_dispatch:
  push:

env:
  BASE_TAG: lkurzyniec/netcore-boilerplate

jobs:
  build-and-test:
    name: Build and Test
    uses: ./.github/workflows/docker-build.yml

  test:
    name: test
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
    - name: print
      run: |
        echo ${{github.event_name}}
        echo ${{github.event.action}}
        echo ${{github.ref_type}}
        echo ${{needs.build-and-test.outputs.HTTP_CODE}}

  # push:
  #   name: Push to Docker Hub
  #   runs-on: ubuntu-latest
  #   needs: build-and-test
  #   environment: docker
  #   concurrency: docker
  #   if: |
  #     github.event_name == 'release' &&
  #     github.event.action == 'published' &&
  #     github.ref_type == 'tag' &&
  #     needs.build-and-test.outputs.HTTP_CODE == 200

  #   steps:
  #   - name: Grab a version
  #     run: |
  #       version="{{ github.ref }}"
  #       version="${version/refs\/tags\/v/}"

  #       echo "Version: ${version}"
  #       echo "### Version ${version} published! :rocket:" >> $GITHUB_STEP_SUMMARY
  #       echo "VERSION=${version}" >> $GITHUB_ENV

  #   - name: Setup Docker Buildx
  #     uses: docker/setup-buildx-action@v3

  #   - name: Login to Docker Hub
  #     uses: docker/login-action@v3
  #     with:
  #       username: ${{ secrets.DOCKERHUB_USERNAME }}
  #       password: ${{ secrets.DOCKERHUB_TOKEN }}

  #   - name: Build and push
  #     uses: docker/build-push-action@v5
  #     with:
  #       push: true
  #       tags: |
  #         ${{ env.BASE_TAG }}:latest
  #         ${{ env.BASE_TAG }}:${{ env.VERSION }}
