---
name: Build docker image

on:
  push:
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  build-image:
    name: Build docker image
    runs-on: ubuntu-latest

    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        file: ./dockerfile
