---
name: Linters

on:
  push:
    branches: [master]

  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  yaml:
    name: YAML lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: yamllint
        run: pwd && yamllint -s .
